In [1]:
import pandas as kg

In [2]:
bunny=kg.read_csv(r"C:\Users\STUDENT\Desktop\SonalkgML\DataSets-master\DataSets-master\births.csv")

In [3]:
bunny

       Unnamed: 0  year  month   day gender  births
0               0  1969      1     1      F    4046
1               1  1969      1     1      M    4440
2               2  1969      1     2      F    4454
3               3  1969      1     2      M    4548
4               4  1969      1     3      F    4548
5               5  1969      1     3      M    4994
6               6  1969      1     4      F    4440
7               7  1969      1     4      M    4520
8               8  1969      1     5      F    4192
9               9  1969      1     5      M    4198
10             10  1969      1     6      F    4710
11             11  1969      1     6      M    4850
12             12  1969      1     7      F    4646
13             13  1969      1     7      M    5092
14             14  1969      1     8      F    4800
15             15  1969      1     8      M    4934
16             16  1969      1     9      F    4592
17             17  1969      1     9      M    4842
18             18  1969      1    10      F    4852
19             19  1969      1    10      M    5190
20             20  1969      1    11      F    4580
21             21  1969      1    11      M    4598
22             22  1969      1    12      F    4126
23             23  1969      1    12      M    4324
24             24  1969      1    13      F    4758
25             25  1969      1    13      M    5076
26             26  1969      1    14      F    5070
27             27  1969      1    14      M    5296
28             28  1969      1    15      F    4798
29             29  1969      1    15      M    5096
...           ...   ...    ...   ...    ...     ...
15517       15517  2007     10  null      F  180912
15518       15518  2007     10  null      M  189157
15519       15519  2007     11  null      F  173513
15520       15520  2007     11  null      M  180814
15521       15521  2007     12  null      F  173787
15522       15522  2007     12  null      M  181426
15523       15523  2008      1  null      F  174255
15524       15524  2008      1  null      M  182789
15525       15525  2008      2  null      F  165669
15526       15526  2008      2  null      M  173434
15527       15527  2008      3  null      F  172053
15528       15528  2008      3  null      M  179129
15529       15529  2008      4  null      F  169585
15530       15530  2008      4  null      M  177399
15531       15531  2008      5  null      F  173141
15532       15532  2008      5  null      M  182294
15533       15533  2008      6  null      F  169958
15534       15534  2008      6  null      M  179267
15535       15535  2008      7  null      F  183391
15536       15536  2008      7  null      M  192714
15537       15537  2008      8  null      F  182713
15538       15538  2008      8  null      M  191315
15539       15539  2008      9  null      F  179696
15540       15540  2008      9  null      M  188964
15541       15541  2008     10  null      F  175314
15542       15542  2008     10  null      M  183219
15543       15543  2008     11  null      F  158939
15544       15544  2008     11  null      M  165468
15545       15545  2008     12  null      F  173215
15546       15546  2008     12  null      M  181235

[15547 rows x 6 columns]

In [9]:
bunny.loc[:,["year","births"]]

       year  births
0      1969    4046
1      1969    4440
2      1969    4454
3      1969    4548
4      1969    4548
5      1969    4994
6      1969    4440
7      1969    4520
8      1969    4192
9      1969    4198
10     1969    4710
11     1969    4850
12     1969    4646
13     1969    5092
14     1969    4800
15     1969    4934
16     1969    4592
17     1969    4842
18     1969    4852
19     1969    5190
20     1969    4580
21     1969    4598
22     1969    4126
23     1969    4324
24     1969    4758
25     1969    5076
26     1969    5070
27     1969    5296
28     1969    4798
29     1969    5096
...     ...     ...
15517  2007  180912
15518  2007  189157
15519  2007  173513
15520  2007  180814
15521  2007  173787
15522  2007  181426
15523  2008  174255
15524  2008  182789
15525  2008  165669
15526  2008  173434
15527  2008  172053
15528  2008  179129
15529  2008  169585
15530  2008  177399
15531  2008  173141
15532  2008  182294
15533  2008  169958
15534  2008  179267
15535  2008  183391
15536  2008  192714
15537  2008  182713
15538  2008  191315
15539  2008  179696
15540  2008  188964
15541  2008  175314
15542  2008  183219
15543  2008  158939
15544  2008  165468
15545  2008  173215
15546  2008  181235

[15547 rows x 2 columns]